/* Background Colours */
header, footer {background-color:#E28743}
nav {background-color:#3A7D58}
main {background-color:#f9f6f0}

/* Text Properties */
h1 {font-size:32px;
	color:#2B2927;
	font-family: Fredoka;
text-align: center;}

/* Navigation List Properties */
nav ul {list-style-type:none}
a {color:#2B2927;font-family: Open Sans;}
nav ul li {float:left;width:120px;text-align:center}
nav ul li a {font-size: 18px;display:block;padding:10px}
nav ul li a:hover {font-size: 20px;background-color:#edd9c0;color:#7d4627}

nav {height:38px}


/* Margins */
nav, main, footer {margin-top:5px}
section {margin:5px}
body {margin:auto}
p {margin-bottom:15px}

p {
	color:#2B2927;
	font-size: 20px;
	font-family: Open Sans;

}

